body {
  background: #66d8f2;
  background-image: url("./ocean.jpg");
  background-size: cover;
  /* background-repeat: round space; */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App-header {
  color: blue;
  font-size: 80px;
  font-style: oblique;
  text-align: center;
  font-family: "Roboto";
  text-shadow: 0 0 12px #fff;
}

/* .img-ocean {
  max-width: 200px;
  display: block;
  margin: 0 auto;
} */

.App footer {
  text-align: center;
  margin: 30px o;
  font-size: 12px;
  background: #66d8f2;
  border-radius: 6px;
}

/* .container {
  background: #66D8F2;
} */
