.App-header {
  color: blue;
  font-size: 50px;
  font-style: oblique;
  margin: 0 auto;
}

.img-ocean {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.App footer {
  text-align: center;
  margin: 30px o;
  font-size: 12px;
}
